**/.classpath
**/.project
**/.idea/
**/.settings/
**/target/
**/*.iml

**/*.ps1
!start_eyematics_dev_process.ps1
**/*.log
**/*.log.gz
**/*.jar

eyematics-dsf-process-plugin-test-data-generator/bundle/*.xml
eyematics-dsf-process-plugin-test-data-generator/cert/*/*
eyematics-dsf-process-plugin-test-data-generator/cert/thumbprints.txt
!eyematics-dsf-process-plugin-test-data-generator/cert/README.md

eyematics-dsf-process-plugin-test-setup/**/bpe/log/*
eyematics-dsf-process-plugin-test-setup/**/bpe/last_event/*
eyematics-dsf-process-plugin-test-setup/**/bpe/plugin/*
eyematics-dsf-process-plugin-test-setup/**/bpe/process/*

eyematics-dsf-process-plugin-test-setup/keycloak/data
eyematics-dsf-process-plugin-test-setup/secrets/keycloak_trust_store.jks

eyematics-dsf-process-plugin-test-setup/**/fhir/conf/*
eyematics-dsf-process-plugin-test-setup/**/fhir/log/*

eyematics-dsf-process-plugin-test-setup/secrets/*.pem
eyematics-dsf-process-plugin-test-setup/.env
eyematics-dsf-process-plugin-test-setup/docker-compose.override.yml

